# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*temp.json
bin/

uploads/
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.claude/

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
#  static file
*.db
build/
**/assets/static/*
**/assets/*.html
web/assets/static/css/
web/assets/static/js/
web/assets/*.html
# env file
logs/
.env
chore/*
**/dist/
build/*
maphoto_data/
*.db
*_debug_*
maphoto.csv
assets/static/js/pvr.js
logs/*
assets/html/test.html
__pycache__/*
local/translations/__pycache__
local/translations/trans_local.py
tests/*
